.research-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.news-carousel-container > h3 {
    padding: 0 6px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 14px;
}

.news-carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .news-carousel-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 
  }
  
  .news-carousel-slider::-webkit-scrollbar {
    display: none;
  }
  
  .news-carousel-card {
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
    background-color: #fff;
    border-radius: 12px;
    margin: 10px 0;
    overflow: hidden;
  }
  
  .research-carousel-card-header {
   padding-left: 10px; 
  }
  
  .news-carousel-card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .news-carousel-card-content {
    padding: 0 10px;
    text-align: center;
  }
  
  .research-carousel-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .research-carousel-card-footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 14px;
  }
  
  .research-carousel-teacher {
    background-color: var(--bg-main);
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  .research-carousel-read-more {
    background-color: var(--main-color);
    color: var(--white);
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    height: fit-content;
    width: fit-content;
  }
  
  .news-carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .news-carousel-button.prev {
    left: 10px;
  }
  
  .news-carousel-button.next {
    right: 10px;
  }
  